
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

  <section class="page-section">
    <div class="container">

        <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/Content/img/404-found-sayfa-hatasi.jpg" alt="">

    </div>
  </section>